.hero {
  &-list {
    width: 70vw;
    height: 30vh;
  }
  &-info {
    display: flex;
    justify-content: space-between;
    border: 5px solid #82589F;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: hsla(314, 100%, 31%, .1);
    box-shadow: 0px 5px 10px 15px rgba(34, 60, 80, 0.2);
  }
}

input {
  width: 70vw;
  margin: 20px 0 20px 0;
  height: 40px;
  font-size: 20px;
}

button {
  transition-duration: 0.4s;
  border: 1px solid #0000001f;
  cursor: pointer;
  padding: 0 15px;
  margin: 5px;
  box-shadow: 2px 2px 2px 2px #888888;
  height: 40px;
  border-radius: 15px;
}

button:hover {
  background-color: darkgrey;
}

img {
  height: 300px;
  width: 200px;
  margin: 10px;
  border: 2px solid #82589F;
}

.name-avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  width: 100px;

}

.stats {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
}

.btn-select {
  display: flex;
  align-items: flex-end;
}

.body-page{
  display: flex;
}
