.container {
  display: flex;
  border:3px solid #82589F;
  font-size: 20px;
  margin-bottom: 20px;
  position: relative;
}

.hero {
  width: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0 20px 0;
  img {
    border: 3px solid #82589F;
    width: 300px;
    height: 500px;
    margin: 20px 0 20px 0;
  }
}

.stats, .powerups {
  display: flex;
  flex-direction: column;
  border: 3px solid #82589F;
  width: 300px;
  height: 205px;

  span {
    padding: 5px 0 5px 10px;
  }
}

.optional {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .names {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #82589F;
    margin-bottom: 20px;

    .name {
      margin: 10px 0 10px 0;
      width: 306px;
      border-bottom: 3px solid #82589F;
      border-top: 3px solid #82589F;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .powerups {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    button {
      width: 100%;
    }
    button:hover {
      background-color: #2980b9;
    }
  }

}

button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border: 1px solid #0000001f;
  cursor: pointer;
  padding: 0 15px;
  margin: 5px;
  box-shadow: 2px 2px 2px 2px #888888;
  height: 40px;
  border-radius: 15px;
  width: 100px;
}

button:hover {
  background-color: red;
}

