<div class="container" *ngIf="enemyHero">

  <div class="hero">
    <div class="name">{{myHero.name}}</div>
    <div class="full-name">{{myHero.biography["full-name"]}}</div>
    <div class="avatar">
      <img src="{{myHero.image.url}}">
    </div>
    <div class="stats">
      <ng-container *ngFor="let stat of myHero.powerstats | keyvalue">
              <span *ngIf="stat.value !== 'null'">
                {{ stat.key }}: {{ stat.value }}
              </span>
      </ng-container>
    </div>
  </div>


  <div class="optional">
    <div class="names">
      <div class="name">{{myHero.name}}</div>
      <button (click)="fight()">FIGHT!</button>
      <div class="name">{{enemyHero.name}}</div>
    </div>
    <div class="powerups">
      <h3>PowerUps</h3>
    </div>
    <app-loading *ngIf="isFightNow"></app-loading>
  </div>


  <div class="hero">
    <div class="name">{{enemyHero.name}}</div>
    <div class="full-name">{{enemyHero.biography["full-name"]}}</div>
    <div class="avatar">
      <img src="{{enemyHero.image.url}}">
    </div>
    <div class="stats">
      <ng-container *ngFor="let stat of enemyHero.powerstats | keyvalue">
              <span *ngIf="stat.value !== 'null'">
                {{ stat.key }}: {{ stat.value }}
              </span>
      </ng-container>
    </div>
  </div>

</div>
