<div class="container" *ngIf="enemyHero">

  <div class="hero">
    <div routerLink="/hero-info/{{myHero.id}}" class="name">{{myHero.name}}</div>
    <div class="full-name">{{myHero.biography["full-name"]}}</div>
    <div class="avatar">
      <img src="{{myHero.image.url}}">
    </div>
    <div class="stats">
      <ng-container *ngFor="let stat of myheroPowerstats | keyvalue">
              <span>
                {{ stat.key }}: {{ stat.value }}
              </span>
      </ng-container>
    </div>
  </div>


  <div class="optional">
    <div class="names">
      <div class="name">{{myHero.name}}</div>
      <button (click)="fight()">FIGHT!</button>
      <div class="name">{{enemyHero.name}}</div>
    </div>
    <div class="powerups">
      <h3>PowerUps</h3>
      <div *ngFor="let value of this.powerups">
        <button *ngIf="isPowerupActiveInCurrentFight[value.statName] && value.usesLeft" (click)="addPowerups(value.statName)">{{value.name}}, {{value.stats}}</button>
      </div>
    </div>
    <app-loading *ngIf="isFightNow"></app-loading>
  </div>


  <div class="hero">
    <div routerLink="/hero/{{enemyHero.id}}" class="name">{{enemyHero.name}}</div>
    <div class="full-name">{{enemyHero.biography["full-name"]}}</div>
    <div class="avatar">
      <img src="{{enemyHero.image.url}}">
    </div>
    <div class="stats">
      <ng-container *ngFor="let stat of enemyHero.powerstats | keyvalue">
              <span *ngIf="stat.value !== 'null'">
                {{ stat.key }}: {{ stat.value }}
              </span>
      </ng-container>
    </div>
  </div>

  <div class="modal" [ngClass]="{'visibility': isBattleOver}">
    <div class="container">
      <div class="message">{{this.winner}} win this fight</div>
      <button (click)="isBattleOver = false">Close</button>
    </div>
  </div>
</div>



