.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}

a {
  display: inline-block;
  width: 200px;
  height: 50px;
  margin: 25px;
  border: 1px solid;
}

