<div class="body-page">
  <app-alphabetic-select (letter)="onLetterSelected($event)"></app-alphabetic-select>
  <div class="container">
    <h3>Find Hero</h3>
      <input
        type="text"
        placeholder="Enter the hero name"
        [formControl]="searchInput"
        (keyup.enter)="search()"
      >
    <app-recent-searches
      (value)="addValueToInput($event)"
      *ngIf="this.storeService.userState.recentSearch.length !== 0">
    </app-recent-searches>
    <app-hero-list [heroes]="heroes"></app-hero-list>
  </div>
</div>
