ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 1%;
}

button {
  display: inline-block;
  min-width: 20px;
  font-size: 20px;
  margin: 0 0 0 5px;
  border-radius: 3px;
  transition: .5s;
}

button:hover {
  background-color: #82589F;
  border-color: black;
  color: white;
}
