.btn-letter {
  text-align: center;
  border: 3px solid #82589F;
  width: 35px;
  line-height: 30px;
  border-radius: 100%;
  display: inline-block;
  vertical-align: top;
  transition: .5s;
}

.btn-letter:hover {
  background-color: #82589F;
  border-color: black;
  color: white;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  height: 30vh;
  margin-right: 30px;
}

